<h2>Editar mi perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :username, class: "form-label" %><br />
    <%= f.text_field :username, autocomplete: "username", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label  "Contraseña" , class: "form-label" %> <i>(puedes dejarlo en blanco si no necesitas cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimos</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label  "Confirmar contraseña",  class: "form-label"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label "Contraseña actual" , class: "form-label" %> <i>(se necesita este campo si modificaste algo)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Volver", :back, class: "btn btn-secondary mt-1" %>
