<%= form_with(model: shift) do |form| %>
  <div class="mb-3">
    <%= form.label "Dia", class: "form-label" %><br/>
    <%= form.select :day, Shift::DAYS , class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label "Horario", class: "form-label" %> <br/>
    <%= form.time_select :hour, minute_step: 15, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label "Razon", class: "form-label" %>
    <%= form.text_field :reason, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= form.label "Sucursal", class: "form-label" %><br/>
    <%= form.select :branch_office_id, BranchOffice.all.map { |bo| [bo.name, bo.id] }, class: "form-select" %>
  </div>


  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
