<div id="<%= dom_id shift %>" class="w-80">
  <div class="relative block p-8 border border-gray-100 shadow-xl rounded-xl">
    <span class="absolute right-4 top-4 rounded-full bg-green-100 px-3 py-1.5 text-xs font-medium text-green-600">
      <%= shift.status %>
    </span>

    <div class="mt-4 text-gray-500 sm:pr-8">
      <h3 class="mt-4 text-xl font-bold text-gray-900"> <%= shift.name %> - <%= shift.hour%></h3>
      <p class="hidden mt-2 text-sm sm:block">
        <%= shift.branch_office.name %>
      </p>
      <div class="block py-5 text-lg text-center border border-gray-100 shadow-xl rounded-xl">
        <%= link_to "Ver detalles", shift_path(shift), class: "px-4 py-2 text-sm font-medium text-white  rounded-md " %>
      </div>
    </div>
  </div>
</div>
