<h1>Nuevo turno</h1>

<%= render "form", shift: @shift %>

<br>

<table> 
      <thead>    
        <tr>       
          <th>Dia</th>       
          <th>Abre</th>      
          <th>Cierra</th> 
        </tr>   
      </thead>   
      <tbody> 
          <% OpeningHour.days_with_index_and_name_and_opens_and_closes(@branch_office).each do |day| %> 
            <tr> 
              <td><%= day[:name] %></td>
              <td><%= day[:opens] %></td> 
              <td><%= day[:closes] %></td> 
            </tr> 
          <% end %> 
      </tbody> 
    </table>

<div>
  <%= link_to "Back to shifts", shifts_path %>
</div>
