
<section class="overflow-hidden text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="d-flex flex-column mb-3">
      <span class="mb-2 text-4xl fs-2 text-gray-900 title-font">Sucursal: <%= @shift.branch_office.name %></span>
      <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Horario del turno: <%= @shift.day_with_hour %></span>
      <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Razon del turno: <%= @shift.reason  %></span>
      <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Comentario del turno: <%= @shift.comment %></span>
      <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Estado del turno:  <%= @shift.status_span %></span>
      <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Atendido por:  <%= @shift.attended_by %></span>
      <div class="d-flex flex-row gap-1">
        <% if not @shift.completed %>
          <div><%= link_to "Editar turno", edit_shift_path(@shift), class: "btn btn-primary" %></div>
        <% end %>
        <div><%= link_to "Borrar turno", @shift, data: { turbo_method: :delete },class: "btn btn-danger" %></div>
        <div><%= link_to "Volver a los turnos", shifts_path, class: "btn btn-secondary" %></div>
      </div>
    </div>
  </div>
</section>
