<div id="<%= dom_id branch_office %>">
  <h2><%= branch_office.name %></h2>
  <h3><%= branch_office.address %></h3>
  <h3><%= branch_office.phone %></h3>

  

  <h3>Horarios</h3>
  <div id="opening_hours">

    <table> 
      <thead>    
        <tr>       
          <th>Dia</th>       
          <th>Abre</th>      
          <th>Cierra</th> 
        </tr>   
      </thead>   
      <tbody> 
          <% OpeningHour.days_with_index_and_name_and_opens_and_closes(branch_office).each do |day| %> 
            <tr> 
              <td><%= day[:name] %></td>
              <td><%= day[:opens] %></td> 
              <td><%= day[:closes] %></td> 
            </tr> 
          <% end %> 
      </tbody> 
    </table>

  <%# Mostrar un boton que redirija para crear un shifts con este offices %>
  <%= link_to "Pedir un turno", new_shift_path(branch_office_id: branch_office.id), class:"text-lg" %>
  
</div>

