<div id="<%= dom_id branch_office %>" class="d-flex flex-column mb-3">
  <h2><%= branch_office.name %></h2>
  <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Direccion: <%= branch_office.address %></span>
  <span class="mb-2 text-2xl font-medium text-gray-900 title-font">Telefono: <%= branch_office.phone %></span>

  

  <h3 class="my-2 text-2xl font-medium text-gray-900 title-font">Horarios</h3>
  <div id="opening_hours">
          <ul class="list-group list-group-horizontal ">
            <li class="list-group-item w-25 fw-bolder">Dia</li>
            <li class="list-group-item w-25 fw-bolder">Abre</li>
            <li class="list-group-item w-25 fw-bolder">Cierra</li>
          </ul>
          <% OpeningHour.days_with_index_and_name_and_opens_and_closes(branch_office).each do |day| %> 
          <ul class="list-group list-group-horizontal ">
            <li class="list-group-item w-25"><%= day[:name] %></li>
            <li class="list-group-item w-25"><%= day[:opens] %></li>
            <li class="list-group-item w-25"><%= day[:closes] %></li>
          </ul>
          <% end %> 
  <%= link_to "Pedir un turno", new_shift_path(branch_office_id: branch_office.id), class:"text-lg text-decoration-none btn btn-primary m-1" %>
  
</div>

