
<h1>Sucursales</h1>

<div id="branch_offices " class="flex flex-row justify-center w-full gap-10">
  <% @branch_offices.each do |branch_office| %>

  <div id="<%= branch_office %>" class="w-96">
      <a
      class="relative block p-8 border border-gray-100 shadow-xl rounded-xl"
      href="<%= branch_office_path(branch_office) %>"
    >

      <div class="mt-4 text-gray-500 sm:pr-8">

        <h3 class="mt-4 text-xl font-bold text-gray-900"> <%=branch_office.name%></h3>

        
        <p class="hidden mt-2 text-sm sm:block">
          <%= branch_office.address %>
        </p>
        <p class="hidden mt-2 text-sm sm:block">
          <%= branch_office.phone %>
        </p>
      </div>
    </a>
  </div>
  <% end %>
</div>
